<app-header></app-header>
<!--MENU PRINCIPAL-->
<div class="col-sm-2 col-md-2" style="margin-top: 10px">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon glyphicon-briefcase"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSolicitudes">Solicitudes</a>
        </h4>
      </div>
      <div id="collapseSolicitudes" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr *ngIf = "esGerente">
              <td>
                <a (click)="contratosCarga_Click()" class="active">Ingreso Contrato</a>
              </td>
            </tr>
            <tr *ngIf = "esGerente">
              <td>
                <a (click)="contratosListado_Click()">Listado Contratos</a>
              </td>
            </tr>
            <tr *ngIf = "esSupervisor || esAsesor">
              <td>
                <a (click)="miscontratosListado_Click()">Mis Contratos</a>
              </td>
            </tr>
            <tr>
              <td>
                <a (click)="solicitudesCarga_Click()">Carga</a>
              </td>
            </tr>
            <tr>
              <td>
                <a (click)="solicitudesListado_Click()" data-toggle="tab">Listado</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon-folder-close"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseProductos">Productos</a>
        </h4>
      </div>
      <div id="collapseProductos" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <a (click)="productosCarga_Click()" class="active">Carga</a>
              </td>
            </tr>
            <tr>
              <td>
                <a (click)="productosListado_Click()" class="active">Listado</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon-cog"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdministracion">Administracion</a>
        </h4>
      </div>
      <div id="collapseAdministracion" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                <a (click)="empleadosCarga_Click()" class="active">Carga</a>
              </td>
            </tr>
            <tr>
              <td>
                <a (click)="empleadosListado_Click()" class="active">Listado</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--CONTENEDOR PRINCIPAL-->
<div id="mainContainer" class="col-sm-10 col-md-10" style="margin-right: 0">
  <div class="well">
    <h1>
      {{titulo}}
    </h1>
  </div>
  <router-outlet></router-outlet>
  <!--<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="tabSolicitudesCarga">
      <solicitudes-carga></solicitudes-carga>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="tabSolicitudesListado">
      <div class="well">
        <h1>
          Listado de Solicitudes
        </h1>
      </div>
      <solicitudes-listado></solicitudes-listado>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="tabGestionProductos">
      <div class="well">
        <h1>
          Gestion de Productos
        </h1>
      </div>
      <div class="navbar navbar-default">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#productosListado" data-toggle="tab">Listado</a></li>
          <li><a href="#productosCarga" data-toggle="tab">Carga</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade active in" id="productosListado">
          <productos-listado></productos-listado>
        </div>
        <div class="tab-pane fade in" id="productosCarga">
          <productos-carga></productos-carga>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="tabRegistroEmpleado">
      <div class="well">
        <h1>
          Gestion de Personal
        </h1>
      </div>
      <div class="navbar navbar-default">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#empleadosListado" data-toggle="tab">Listado</a></li>
          <li><a href="#empleadosCarga" data-toggle="tab">Carga</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade active in" id="empleadosListado">
          <empleados-listado></empleados-listado>
        </div>
        <div class="tab-pane fade in" id="empleadosCarga">
          <empleados-carga></empleados-carga>
        </div>
      </div>
    </div>
  </div>-->
</div>
