<form #scoringForm="ngForm" name="scoringForm">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h4>Datos de Scoring</h4>
          <p class="text-muted">
            Por ultimo, ingrese los datos correspondientes al scoring realizado al cliente.<br> Tenga en cuenta que la misma sera
            registrada con estado <a>En Analisis</a> hasta que sea aprobada por un supervisor
          </p>
        </div>
      </div>
    </div>
  </div>
</form>
