<form #seniaForm="ngForm" name="seniaForm">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h4>Datos de la Solicitud</h4>
          <p class="text-muted">
            Por ultimo, ingrese los datos correspondientes a la solicitud en curso.<br> Tenga en cuenta que la misma sera
            registrada con estado <a>Iniciada</a> hasta que sea aprobada por un supervisor
          </p>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <label class="control-label">Nombre del Vendedor</label>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <!--<input name="first_name" class="form-control" type="text">-->
                <select [(ngModel)]="vendedor" name="vendedor" class="form-control selectpicker">
                        <option *ngFor="let empleado of lsEmpleados" [ngValue]="empleado">{{empleado.apellido}} {{empleado.nombre}}</option>
                    </select>
                <!--<ng2-completer [(ngModel)]="vendedor.persona.n_persona" [minSearchLength]="0"></ng2-completer>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Fecha Solicitud</label>
            <div class="inputGroupContainer">
              <div class="form-group">
                <div class='input-group date' id='datetimepicker'>
                  <input [(ngModel)]="fecha_solicitud" name="fecha_solicitud" type='date' class="form-control" />
                  <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Monto de la Seña</label>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                <input [(ngModel)]="senia" required name="senia" class="form-control" type="text" data-bv-field="senia" style="text-align: center">
                <i class="form-control-feedback"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Monto Mensual</label>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                <input [(ngModel)]="monto_mensual" required name="monto_mensual" class="form-control" type="text" data-bv-field="monto_mensual"
                  style="text-align: center">
                <i class="form-control-feedback"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Nro Contrato</label>
            <div class="inputGroupContainer">
              <div class="input-group">
                <input [(ngModel)]="nro_contrato" required name="nro_contrato" class="form-control" type="number" data-bv-field="senia" data-bv-field="nro_contrato"
                  style="text-align: center">
                <i class="form-control-feedback"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Observaciones</label>
            <textarea [(ngModel)]="notaSolicitud.nota" name="nota_solicitud" class="form-control" rows="3" placeholder="Utilice este campo para agregar informacion referida a la solicitud"
              required (change)="observaciones_onChange()" maxlength="1000"></textarea>
            <p class="text-muted" style="float:right">
              Caracteres Restantes: {{1000 - notaSolicitud.nota.length}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
